<!-- Contact Info -->
<ion-view title="Albums">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Report a Bug
      </div>
      <div class="item item-text-wrap">
        If you find a bug please let me know! Shoot me an email at dwitt@dranweb.com and I'll try and fix it ASAP! Thanks.
      </div>
    </div>
  </ion-content>
</ion-view>
