<!-- About Monstercat -->
<ion-view title="Wiki">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        General Info
      </div>
      <div class="item item-text-wrap">
        Monstercat is a Canadian independent record label predominantly focused on releasing electronic dance music, founded in 2011 by Mike Darlington and James Leusink. Originally designated as a platform for showcasing friends' music, the project quickly evolved
        into a record label well-known for its YouTube channel of over 2.25 million subscribers. The label has been the first to launch the careers of many DJs currently in the DJMag top 100 such as Krewella, Vicetone, and Project 46 (who reached #1 on
        Beatport with their track 'Reasons' in early 2012).
      </div>
    </div>

  </ion-content>
</ion-view>
